{% load i18n %}
{% load url from future %}
<h3>Új üzenet</h3>
<form action="{% url "new_guestbook" %}" method="post" class="hideInputs form-inline">{% csrf_token %}
{{ form.as_p }}
<button type="submit">{% trans "Submit" %}</button>
</form>