{% extends "template_w_sidebar.html" %}
{% load guestbook i18n %}

{% block content %}
<h2>{% trans "Írj a vendégkönyvbe" %}</h2>

<ul class="row guestbook">
{% for object in object_list %}
<li><div class="span4">{% if object.webpage %}<a href="{{object.webpage}}">{%endif%}
	{{ object.name}}
	{% if object.webpage %}</a>{%endif%}</div>
	<span class="created span4">{% trans "Sent on" %} {{ object.created|date:"SHORT_DATE_FORMAT" }}</span>
	<div class="message span8">{{ object.message|striptags|linebreaks }}</div>
</li>
{% empty %}
<li>No messages</li>
{% endfor %}
</ul>
{% if is_paginated %}
	{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous page" %}</a>
	{% endif %} 
	{{ page_obj.number }}/{{ paginator.num_pages }}
	{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">{% trans "Next page" %}</a>
	{% endif %} 
{% endif %}
{% guestbook_form %}
{% endblock %}