{% load menu_tags cms_tags sekizai_tags i18n %}
{% load simple_open_graph %}
<!DOCTYPE html>
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml" {%block namespaces%}prefix="og: http://ogp.me/ns#"{%endblock%}>
<head>
	<title>{% block title %}{% page_attribute page_title %}{% endblock %} &mdash; Jalagati Jóga Egyesület</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="index,follow,all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <meta name="description" content="{% block meta-description %}{% page_attribute meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% page_attribute meta_keywords %}{% endblock %}" />
    <meta name="author" content="{{site_name}}" />
    {% block meta %}
    {% opengraph_meta "url=site, title=site_name, type='website', image=site_logo, description=site_description" %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/logo.png" />
    <link rel="home" href="/" />
    {% block link %}{% endblock %}
	{% render_block "css" %}
	{% addtoblock "css" %}
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}zinnia/css/print.css" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/ie.css" />
    <![endif]-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.maximage.min.css">
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/homepage_style.css">
	{% endaddtoblock %}
    <script>var _gaq=[['_setAccount','UA-36119599-1'],['_setDomainName','jalagati.hu'], ['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=true;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/swfobject.js"></script>
</head>
<body class="{% block body_class %}{%endblock%}">
<div id="topbg">
	<div id="fejlec_light">
		<div id="fejlec" class="container">
			<div class="row">
				<div id="logo-wrapper" class="span3">
					<h1><a href="/">Jalagati Yoga Club</a></h1>
				</div>
				<div class="navbar offset3">
					<div class="navbar-inner">
						<div class="container">
							<div class="navbar-collapse">
							<ul id="top-menu" class="nav">
								 {% show_menu 0 3 3 3%}
							</ul>
							{% language_chooser %}
							</div>
						</div>
					</div>
				</div>
				<div id="featured" class="span9"><q>{% autoescape off %}{{ quotes.0.content }}{% endautoescape %}</q></div>
			</div>
		</div>
		<div id="mainwrap" class="container">
			{% block base_content%}{% endblock %}
		</div>
		<footer class="container">
			<div class="row">
				<div class="span12">
					&copy; 2008-{% now "Y" %} - Jalagati Jóga Egyesület
				</div>
			</div>
		</footer>
		<div id="maximage">
		<!--		<img src="{{ STATIC_URL }}img/bg/zup.png" alt="">
		<img src="{{ STATIC_URL }}img/bg/1.jpg" alt="">
			<img src="{{ STATIC_URL }}img/bg/2.jpg" alt="">-->
		</div>
	</div>
</div>
{% block script %}{% endblock %}
{% render_block "js" %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maximage.min.js"></script>
<script type="text/javascript">
var _static_base = "{{ STATIC_URL }}";
$(function(){
/*    $('#maximage').maximage({
        cycleOptions: {
            fx:'fade',
            speed: 800,
            timeout: 8000
        },
        // verticalCenter: true,
        // horizontalCenter: true,
        backgroundSize: 'cover',

    });
    */
});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jQuery.equalHeights.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript">
function equalHeights(selector) {
    $(selector).equalHeights(true)
    $(selector).imagesLoaded(function(){
        $(selector).equalHeights(true)
    })
}
$(function(){
    equalHeights('#maincontent')
    equalHeights('#articles')
    equalHeights('#mainwrap>.row')
    $('#idopontok a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    var Today = new Date(),
        daynumber = Today.getDay()
    $('#home3 .carousel').carousel(daynumber)
    $('#home3 .carousel').carousel('pause')
    $('form.hideInputs').children().each(function(idx){
        if($('input', this).length > 0) $(this).hide()
    })
    $('form.hideInputs textarea').focus(function(ev){
        $(this).parents('form').children().each(function(idx){
            if($('input', this).length > 0) $(this).slideDown()
        })
    })
});
</script>
{% endaddtoblock %}
{% addtoblock "js" %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=295139877221880";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script src="{{ STATIC_URL }}js/lightbox.js"></script>
{% endaddtoblock %}
</body>
</html>
