{% load menu_tags cms_tags sekizai_tags i18n %}
<!DOCTYPE html>
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml"{%block namespaces%}{%endblock%}>
<head>
	<title>Jalagati Jóga Egyesület - {% block title %}{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <meta name="description" content="{% block meta-description %}Jalagati Yoga Club. Bemutatjuk az általunk képviselt jógát, megismerheti órarendünket és galériánk és cikkeink segítségével talán minket is.{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}Jalagati, Yoga, jóga, Jalagati Yoga Club, jóga Budapest, jóga Szeged{{ entry_tags|join:", "}}{% endblock %}" />
    <meta name="author" content="Jalagati Yoga Club" />
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/logo.png" />
    <link rel="home" href="/" />
    {% block link %}{% endblock %}
	{% render_block "css" %}
	{% addtoblock "css" %}
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}zinnia/css/print.css" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/ie.css" />
    <![endif]-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.maximage.min.css">
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	{% endaddtoblock %}
</head>
<body class="{% block body_class %}{%endblock%}">
<div class="container">
    <div class="row">
        <div id="mainwrap" class="span9 contentarea">
            {% block content%}{% endblock %}
        </div>
    </div>
</div>
<footer class="container">
    <div class="row">
        <div class="span12">
            &copy; 2008-2012, Jalagati Jóga Egyesület
        </div>
    </div>
</footer>
<div id="maximage">
<!--		<img src="{{ STATIC_URL }}img/bg/zup.png" alt="">
<img src="{{ STATIC_URL }}img/bg/1.jpg" alt="">
	<img src="{{ STATIC_URL }}img/bg/2.jpg" alt="">-->
</div>
{% block script %}{% endblock %}
{% render_block "js" %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maximage.min.js"></script>
<script type="text/javascript">
var _static_base = "{{ STATIC_URL }}";
$(function(){
/*    $('#maximage').maximage({
        cycleOptions: {
            fx:'fade',
            speed: 800,
            timeout: 8000
        },
        // verticalCenter: true,
        // horizontalCenter: true,
        backgroundSize: 'cover',

    });
    */
});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jQuery.equalHeights.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript">
function equalHeights(selector) {
    $(selector).equalHeights(true)
    $(selector).imagesLoaded(function(){
        $(selector).equalHeights(true)
    })
}
$(function(){
    $('#idopontok a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    var Today = new Date(),
        daynumber = Today.getDay()
    $('#home3 .carousel').carousel(daynumber)
    $('#home3 .carousel').carousel('pause')
});
</script>
{% endaddtoblock %}
</body>
</html>
