{% extends "base.html" %}
{% load cms_tags sekizai_tags zinnia_tags %}
{% load chimptags %}

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jQuery.equalHeights.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript">
$(function(){
    $('#articles').equalHeights(true)
    $('#articles').imagesLoaded(function(){
        $('#articles').equalHeights(true)
    })
});
</script>
{% endaddtoblock %}

{% block body_class %}home{% endblock %}

{% block base_content %}
<div id="maincontent" class="row box_row">
	<div id="home_box1" class="span4 home_box contentarea">
		<section>{% autoescape off %}{{ boxes.0.content }}{% endautoescape %}</section>
	</div>
	<div id="home_box2" class="span4 home_box contentarea">
		<section>{% autoescape off %}{{ boxes.1.content }}{% endautoescape %}</section>
	</div>
	<div id="home_box3" class="span4 home_box contentarea">
		<section><div class="hirek-div">{% get_recent_entries 2 %}</div>{% autoescape off %}{{ boxes.2.content }}{% endautoescape %}</section>
	</div>
</div>
<div id="articles" class="row">
	<div class="span12 contentarea">
		<section>
			<div class="before-wrap">
				{% placeholder before_wrap_content %}
			</div>
			<div class="wrapper">
				<div class="wrap-center fb-iframe">
					<h3>Kövess minket!</h3>
					<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fjalagati%3Ffref%3Dts&amp;width=550&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=526763937382411" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:550px; height:258px;" allowTransparency="true"></iframe>
				</div>
				<div class="wrap-right">
					{% placeholder wrap_right %}
				</div>
			</div>
			<div class="after-wrap" style="clear: both">
				{% placeholder after_wrap_content %}
			</div>
		</section>
	</div>
</div>
{% endblock %}
