{% extends "base.html" %}
{% load menu_tags cms_tags %}

{% block base_content %}
<div class="row">
<aside id="sidebar" class="span3 contentarea">
	{% block sidebar %}{%placeholder sidebar inherit %}{% endblock %}
</aside>
<div id="maincontent" class="span9 contentarea">
	<section>{%block content%}{% placeholder base_content %}{%endblock%}</section>
</div>
</div>
{% endblock %}