{% extends "base.html" %}
{% load menu_tags cms_tags %}

{% block base_content %}
<div class="row">
<div id="maincontent" class="span12 contentarea" style="margin-top: 0">
    <section>{%block content%}{% placeholder base_content %}{%endblock%}</section>
    <section>
        <hr>
        <h3>Lépj kapcsolatba velünk!</h3>
        {%block contact %}{% placeholder contact_form %}{%endblock%}
    </section>
</div>
</div>
{% endblock %}