{% load menu_tags %}
<ul id="language-chooser" class="pull-right">
{% for language in languages %}
<li {% ifequal current_language language.0 %} class="active"{% endifequal %}><a href="{% page_language_url language.0 %}" title="{{ language.1 }}"><img class="flag" src="{{ STATIC_URL }}img/flags/{{ language.0 }}.png" alt="{{language.1}}" title="{{language.1}}" /></a></li>
{% endfor %}
</ul>