{% load menu_tags %}
{% for child in children %}
<li id="childof-{{ child.id }}" class="{% if child.selected %}active {% endif %}{% if child.children %}dropdown{%endif%}">
	{% if child.children %}
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="dropdown-toggle" data-toggle="dropdown" data-target="#childof-{{child.id}}">{{ child.get_menu_title }}<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
    </ul>
	{% else %}
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
	{% endif %}
</li>
{% endfor %}
