.column_header(@background) {
	color: #fff;
	background: #9f9 url(@background) left top no-repeat;
	background-size: cover;
}

.hyphens() {
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
@borderRadius: 20px;

input, textarea {
	width: 170px;
}


body {
    background: url(../img/bg/11.jpg) left top no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

p {
	.hyphens();
}

#featured {
	background-color: rgb(200, 200, 200); // fallback for old browsers
	background-color: rgba(250, 250, 250, 0.7);
}

#mainwrap {
	margin-top: 30px;
}
.row {
	> .contentarea {
		padding: 0px 0px;
	}
	> .contentarea:hover {
		margin-top: -120px;
	}
	.contentarea {
		background-color: rgb(200, 200, 200); // fallback for old browsers
		background-color: rgba(250, 250, 250, 0.7);
		border-radius: @borderRadius;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
		// #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
		text-align: justify;
		.box-shadow( 5px 5px 13px -2px #555555 );
		.hyphens();
		.transition(margin-top 2s ease-out 0s);
		> section {
			padding: 0px 10px 10px;
		}
	}
	.contentarea:hover {
		.transition(margin-top 2s ease-out 0s);
		margin-top: -32px;
	}
}

#sidebar {
	h3 {
		font-size: 20px;
		padding: 50px 10px 65px;
		margin: 0px 0px 10px;
		text-align: center;
		border-radius: @borderRadius;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.entry-similar h3 {
		.column_header("../img/columns/4.jpg");
	}
	.submenu.joga_base h3 {
		.column_header("../img/columns/5.jpg");
	}
	.sidebar-nav h3 {
		.column_header("../img/columns/3.jpg");
	}
}
#sidebar.contentarea:hover {
	.transition(margin-top 2s ease-out 0s);
	margin-top: 0px;
}
.home #maincontent {
	margin-top: 0px;
	.contentarea {
		padding-bottom: 10px;
		border-bottom-left-radius: 0px;
		> section {
			> h2 {
				border-top-right-radius: @borderRadius;
				margin: 0px -10px;
			}
		}
	}
}
#maincontent {
	margin-top: -90px;
	padding-bottom: 90px; // kiegyenlíti a margin-top-ot
	h2 {
		font-size: 30px;
		padding: 50px 10px 65px;
		margin-bottom: 10px;
		margin-top: 0px;
		text-align: center;
	}
	.page-header {
		padding-bottom:0px;
		h2 {
			padding-bottom: 50px;
		}
	}
	#home1 h2 {
		.column_header("../img/columns/col1.jpg");
	}
	#home2 h2 {
		.column_header("../img/columns/col2.jpg");
		margin-top: -75px;
	}
	#home3 h2 {
		.column_header("../img/columns/8.jpg");
		margin-top: -40px;
	}
}

.navbar-inner {
	opacity: 0.7;
	height: @navbarHeight;
	.container {
		opacity: 0px;
	}
}
.navbar-fixed-top {
	left: auto;
	right: auto;
}

#logo-wrapper {
	h1 {
		background: transparent url("../img/logo.png") 50% 50% no-repeat;
		margin-top: 25px;
		height: 140px;
		a {
			display: block;
			text-indent: -3000px;
			white-space: nowrap;                  /* because only the first line is indented */
		    outline: none;  /* prevents dotted line when link is active */
		}
	}
}

aside {
	border-radius: @borderRadius;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	.wrapper:first-child h3 {
		margin-top: 0px;
	}
	.wrapper {
		padding: 0px 10px;
	}
	.box-shadow( 5px 5px 13px -2px #555555 );
	// .transition(margin-top 2s ease-out 0s);
	// :hover {
	// 	.transition(margin-top 2s ease-out 0s);
	// 	margin-top: -32px;
	// }
	.nav {
		border-radius: @borderRadius;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	ul {
		margin: 0px;
		margin-left: 15px;
	}
	h3 {
		font-size: 20px;
		padding: 50px 10px 65px;
		margin: 15px -10px 15px;
		text-align: center;
		border-radius: @borderRadius;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
		.column_header("../img/columns/4.jpg");
	}
}


#articles {
	section {
		border-top-left-radius: @borderRadius;
		border-bottom-left-radius: @borderRadius;
		div.hentry {
			margin: 15px 10px;
			list-style: none;
			clear: left;
		}
	}
	aside {
		border-radius: @borderRadius;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		.box-shadow( 5px 5px 13px -2px #555555 );
	}
}
div.entry-image {
	float: left;
}
#maincontent img {
	height: 210px;
	width: 210px;
	float: left;
	margin-right: 10px;
	background: url(../img/image-overlay.png) no-repeat;
	padding: 9px 9px 25px 9px;
}

aside img {
	margin: 5px 10px;
	width: 200px;
}

img.flag {
	height: 12px;
	width:18px;
	background: none;
	margin: 0px;
	padding: 0px;
}
footer {
	margin: 40px 0px 20px;
	text-align: center;
	border-top: 1px solid @grayLight;
}

.hentry, .entry-body {
	.clearfix();
}

a.readmore { 
	background:url(../img/reply.png) no-repeat right bottom; 
	color:#ffffff; 
	display:block; 
	font-weight: bold; 
	font-size:12px; 
	height:29px; 
	line-height:27px; 
	padding-right:13px; 
	text-shadow:1px 1px 1px rgba(0,0,0,0.3); 
	display:block; 
	float:right; 
	span { 
		background:url(../img/reply.png) no-repeat; 
		display:block; 
		height:29px; 
		padding-left: 15px; 
	}
}
.home #maincontent a.readmore { 
	position: absolute; 
	bottom: -15px; 
	left: 33%; 
}

.entry-body img {
	clear: left;
}
.entry-info {
	font-size: 12px;
}

#home3 section {
	padding-bottom: 0px;
	.tab-pane {
		min-height: 200px;
		.item {
			margin: 0px 50px;
		}
		ul {
			margin: 0px;
		}
		.carousel-control.left {
			left: 0px;
		}
		.carousel-control.right {
			right: 0px;
		}
	}
	.nav {
		margin-bottom: 0px;
	}
}
ul#language-chooser {
	margin-left: 0px;
	li {
	padding-top: 15px;
}
}

#maincontent .gallery {
	a {
		text-align: center;
		margin-bottom: 15px;
	}
	img {
		float: none;
		background: none;
		width: 180px;
		height: auto;
	}
}
#maincontent .gallery-detail {
	img {
		float: left;
		margin-right: 0px;
		padding: 5px 10px;
		background: none;
  		height: 165px;
  		max-width: 165px;
	}
}
#lightbox img {
	height: auto;
	width: auto;
	float: none;
	margin-right: 0px;
	background: none;
	padding: 0px;
}
.sessions {
	.carousel-inner .item {
		min-height: 250px;
		.extra {
			position: absolute;
			bottom: 0px;
			font-size: 12px;
		}
	}
	.tab-address {
		position: relative;
		bottom: 0px;
		margin: 0px 50px;
	}
}

.guestbook div.span4{
	font-weight: bold;
}
.guestbook .message {
	font-style: italic;
	border-bottom: 1px #dddddd solid;
	margin-bottom: 10px;
}
.guestbook li {
	list-style: none;
}
form {
	textarea {
		width: 95%;
	}
}