{% load i18n %}
{% load url from future %}
<h3>Hírlevél</h3>
<form action="{% url 'mailchimp:subscribe' %}" method="post">{% csrf_token %}
{{ form.as_p }}
<button type="submit">{%trans "Feliratkozom" %}</button>
</form>
