{% extends "base.html" %}
{% load i18n %}
{% block base_content %}
<div class="row">
<div id="maincontent" class="span9 offset3 contentarea">
<h1>{% trans "Success" %}</h1>
<p>{% trans "You have successfully subscribed to our mailing list" %}</p>
</div>
</div>
{% endblock %}
