{% load i18n %}{% load simplecart %}<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<!--<link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.9.2.custom.min.css" />
		<script src="/static/js/jquery-1.8.3.js"></script>
		<script src="/static/js/jquery-ui-1.9.2.custom.js"></script>-->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  		<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  		<script src="{{STATIC_URL}}js/jquery.form.js"></script>
		<style>
		#modalContainer {
			display: none;
		}
		</style>
		{% block header %}{% endblock %}
	</head>
	<body>
		{% block totals %}{% endblock %}

		{% block content %}{% endblock %}
		<div id="modalContainer"></div>
	</body>
</html>