{% load i18n %}
{% load simplecart %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.10.1.custom.min.css" />
		<script src="/static/js/jquery-1.9.1.js"></script>
		<script src="/static/js/jquery-ui-1.10.1.custom.js"></script>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% block header %}{% endblock %}
	</head>
	<body>
{% block totals %}{% endblock %}

{% block content %}{% endblock %}
	</body>
</html>