{% extends "template_w_sidebar.html" %}
{% block content %}
<div class="page-header">
<h2>{{ object.name }}</h2>
</div>
<p>{{image.description}}</p>
<ul class="gallery gallery-detail">
{%for image in object.image_set.all %}
	<li><a rel="lightbox[g]" href="{{image.image}}"><img src="{{image.thumbnail}}"/></a></li>
{% endfor %}
</ul>
{% endblock %}
