{% extends "template_w_sidebar.html" %}
{% block content %}
<ul class="gallery gallery-list">
{% for gallery in object_list %}
	<li><a href="{{ gallery.get_absolute_url }}">
		{% if gallery.get_cover_photo %}<img src="{{ gallery.get_cover_photo }}" />{% endif %}
		{{gallery}} ({{gallery.count}})</a></li>
{% endfor %}
</ul>
{% endblock %}