{% extends "facebook_base.html" %}
{% block content %}
<div id="home3" class="">
	<h2>Időpontok</h2>
	<div class="tabbable tabs-below sessions">
		<div class="tab-content">
		{% for place in object_list %}
			<div id="{{place.city_id}}" class="tab-pane carousel slide{% if forloop.first %} active{% endif %}" data-interval="0">
			  <div class="carousel-inner">
			  	<div class="item">
			    	<h3>Vasárnap</h3>
			    	{{ place.sunday|linebreaks }}
			    	{% if place.sunday_extra %}
			    	<p class="extra">{{ place.sunday_extra|linebreaks}}</p>
			    	{% endif %}
			    </div>
			    <div class="item active">
			    	<h3>Hétfő</h3>
			    	{{ place.monday|linebreaks }}
			    	{% if place.monday_extra %}
			    	<p class="extra">{{ place.monday_extra|linebreaks}}</p>
			    	{% endif %}
			    </div>
			    <div class="item">
			    	<h3>Kedd</h3>
			    	{{ place.tuesday|linebreaks }}
			    	{% if place.tuesday_extra %}
			    	<p class="extra">{{ place.tuesday_extra|linebreaks}}</p>
			    	{% endif %}
			    </div>
			    <div class="item">
			    	<h3>Szerda</h3>
			    	{{ place.wednesday|linebreaks }}
			    	{% if place.wednesday_extra %}
			    	<p class="extra">{{ place.wednesday_extra|linebreaks}}</p>
			    	{% endif %}
			    </div>
			    <div class="item">
			    	<h3>Csütörtök</h3>
			    	{{ place.thursday|linebreaks }}
			    	{% if place.thursday_extra %}
			    	<p class="extra">{{ place.thursday_extra|linebreaks}}</p>
			    	{% endif %}
			    </div>
			    <div class="item">
			    	<h3>Péntek</h3>
			    	{{ place.friday|linebreaks }}
			    	{% if place.friday_extra %}
			    	<p class="extra">{{ place.friday_extra|linebreaks}}</p>
			    	{% endif %}
			    </div>
			    <div class="item">
			    	<h3>Szombat</h3>
			    	{{ place.saturday|linebreaks }}
			    	{% if place.saturday_extra %}
			    	<p class="extra">{{ place.saturday_extra|linebreaks}}</p>
			    	{% endif %}
			    </div>
			  </div>  
			  <a href="#{{place.city_id}}" class="carousel-control left" data-slide="prev">‹</a>
			  <a href="#{{place.city_id}}" class="carousel-control right" data-slide="next">›</a>
			  <p class="tab-address">{{place.address}}</p>
		  </div>	  
		{% endfor %}
		</div>
		<ul class="nav nav-tabs" id="idopontok">
		{% for place in object_list %}
		  <li{% if forloop.first %} class="active"{% endif %}><a href="#{{place.city_id}}">{{place.city}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}