{% load menu_tags %}
<div class="submenu{% if instance.root_page.reverse_id %} {{instance.root_page.reverse_id}}{%endif%}">
	<h3>Menü</h3>
<ul class="nav nav-list">
{% if instance.root_page.reverse_id %}
{% show_menu_below_id instance.root_page.reverse_id instance.start_level instance.end_level instance.extra_inactive instance.extra_active instance.template %}
{% else %}
{% show_sub_menu instance.end_level instance.template %}
{% endif %}
</ul>
</div>