{% load i18n %}
{% load simplecart %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="style.css" />
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% block header %}
	{% simplecart_script %}
{% endblock %}
	</head>
	<body>
{% block totals %}
	<span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
<a href="javascript:;" class="simpleCart_checkout">Checkout</a>
{% endblock %}

{% block content %}
	<div class="simpleCart_items"></div>
{% endblock %}
	</body>
</html>