{% load i18n %}
{% load simplecart %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% block header %}
	{% simplecart_script %}
{% endblock %}
	</head>
	<body>

{% block content %}
<div>You are going to be redirected to PayPal now. Please, wait!</div>
{% endblock %}
	</body>
</html>