{% load i18n %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  $.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
  };

  $().ready(function(){
    $('#simplecart_customerdata').submit(function(ev){
      window.sessionStorage.setItem('simplecart_customer', JSON.stringify($(this).serializeObject()))
    })
  })
</script>