{% load i18n %}
{% load simplecart %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% block header %}
	{% simplecart_customerdata %}
{% endblock %}
	</head>
	<body>

{% block content %}
<form action="{% url simplecart_create_customer %}" method="post" id="simplecart_customerdata">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Ok</button>
</form>
{% endblock %}
	</body>
</html>