{% load i18n %}
{% load simplecart %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% block header %}
	{% simplecart_script %}
{% endblock %}
	</head>
	<body>
{% block totals %}
	<span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
<a href="javascript:;" class="simpleCart_checkout">Checkout</a>
{% endblock %}

{% block content %}
	{% for item in object_list %}
	<div class="simpleCart_shelfItem">
	  <h2 class="item_name">{{ item.name }}</h2>
	<p>  <input type="text" value="1" class="item_Quantity"><br>
	  <span class="item_price">{{ item.price }}</span><br>
	  <a class="item_add" href="javascript:;">{% trans "Add to Cart" %}</a></p>
	</div>
	{% endfor %}	
{% endblock %}
	</body>
</html>