{% load i18n %}
{% load url from future %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}	

{% block content %}
<form action="{% url "simplecart_order" %}" method="post">{% csrf_token %}
{{ form.non_field_errors }}
<fieldset><legend>Contact details</legend>
{% for field in customerForm %}
	{% ifchanged %}
	{% if "delivery_" in field.name %}
	</fieldset>
	<fieldset><legend>Delivery details</legend>
    {% endif %}
    {% if "invoice_" in field.name %}
	</fieldset>
	<div class="fieldWrapper"><label>Copy delivery data as invoice data<input type="checkbox" checked="checked" id="copy_delivery2invoice" /></label></div>
	<fieldset><legend>Invoice details</legend>    
    {% endif %}
    {% endifchanged %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
    </div>
{% endfor %}
</fieldset>
<fieldset>
	<legend>Order data</legend>
{{orderForm}}
</fieldset>
<div id="cart_data">
<div class="simpleCart_items"></div>

<!-- cart total (ex. $23.11)-->
<div class="simpleCart_total"></div>

<!-- cart quantity (ex. 3) -->
<div class="simpleCart_quantity"></div>

<!-- tax cost (ex. $1.38) -->
<div class="simpleCart_tax"></div>

<!-- tax rate (ex. %0.6) -->
<div class="simpleCart_taxRate"></div>

<!-- shipping (ex. $5.00) -->
<div class="simpleCart_shipping"></div>

<!-- grand total, including tax and shipping (ex. $28.49) -->
<div class="simpleCart_grandTotal"></div>
</div>
{{itemsFormSet}}
</form>
{% endblock %}