{% load i18n %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{STATIC_URL}}/simplecart/simpleCart.js"></script>
<script>
  simpleCart({
    checkout: {
      type: "PayPal",
      email: "you@yours.com"
    },
    currency: "USD",
    sandbox: true , 
    success: "success.html",
    cancel: "cancel.html",
    language: "{{LANGUAGE_CODE}}",
    cartColumns: [
		{ attr: "name", label: "{% trans "Name" %}"},
		{ view: "currency", attr: "price", label: "{% trans "Price" %}"},
		{ view: "decrement", label: false},
		{ attr: "quantity", label: "{% trans "Qty" %}"},
		{ view: "increment", label: false},
		{ view: "currency", attr: "total", label: "{% trans "SubTotal" %}" },
		{ view: "remove", text: "{% trans "Remove" %}", label: false}
	],
  });
  function onCheckout( data ){
    if(!!window.sessionStorage.getItem('simplecart_customer')) {
      $.extend(data, {'address_ override': 1}, JSON.parse(window.sessionStorage.getItem('simplecart_customer')))
    } else {
      window.location = window.location.protocol + '//' + window.location.host + '/shop/customerdata/';
      return false;
    }
  }
  simpleCart.bind( 'beforeCheckout' , onCheckout );

  function tryCheckout( data ) {
    if(window.location.search == '?checkout=1') {
      simpleCart.checkout();
    }
  }
  simpleCart.bind('ready', tryCheckout);
</script>