{% load tagging_tags comments i18n %}
{% load fb_comments %}

{% load url from future %}
<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}">
  <div class="entry-header">
    <h2>
      <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
        {{ object.title }}
      </a>
    </h2>
  </div>

  <div class="entry-body">
    {% if object.image %}
    <div class="entry-image">
    {% if continue_reading %}
    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
      {% endif %}
      <img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
      {% if continue_reading %}
    </a>
    {% endif %}
    </div>
    {% endif %}
    <p class="entry-info">
      {% blocktrans with date=object.creation_date|date:"DATE_FORMAT" abbr_date=object.creation_date|date:"c" %}<abbr class="published" title="{{ abbr_date }}">{{date}}</abbr>{% endblocktrans %}
    </p>
    <div class="entry-content">
      {% if object.excerpt %}
        {{ object.excerpt|linebreaks }}
      {% else %}
        {{ object_content }}
      {% endif %}
    </div>
    {% if continue_reading %}
    <a href="{{ object.get_absolute_url }}" class="readmore" title="{% blocktrans with object=object.title %}Continue reading {{ object }}{% endblocktrans %}"
         rel="bookmark"><span>{% trans "Tovább" %}</span></a>
    {% endif %}
  </div>

  <div class="entry-footer">
    <!--<p class="entry-info">
      {% blocktrans with date=object.creation_date|date:"DATE_FORMAT" abbr_date=object.creation_date|date:"c" %}<abbr class="published" title="{{ abbr_date }}">{{date}}</abbr>{% endblocktrans %}
    </p>-->
    {% if tag_list %}
    <ul class="entry-tags">
      {% tags_for_object object as tag_list %}
      {% for tag in tag_list %}
      <li><a href="{% url 'zinnia_tag_detail' tag %}"
         title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
         rel="tag">{{ tag }}</a></li>
      {% empty %}
      <li>{% trans "No tags" %}</li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>
