{% load tagging_tags i18n %}

{% load url from future %}
<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}">
  <div class="entry-header">
    <h2>
      {% if object.title != object_content %}<a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">{% endif %}
        {{ object.title }}
      {% if object.title != object_content %}</a>{% endif %}
    </h2>
  </div>

  <div class="entry-body">
    {% if object.image %}
    <div class="entry-image">
    {% if continue_reading %}<a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">{% endif %}
      <img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
      {% if continue_reading %}</a>{% endif %}
    </div>
    {% endif %}
    <div class="entry-content">
      {{ object_content }}
    </div>
    {% if continue_reading %}<a href="{{ object.get_absolute_url }}" class="readmore" title="{% blocktrans with object=object.title %}Continue reading {{ object }}{% endblocktrans %}"
         rel="bookmark"><span>{% trans "Read more" %}</span></a>{% endif %}
  </div>

  <div class="entry-footer">
    <p class="entry-info">
      {% if object.categories.count %}
      {% trans "Kategória:" %}
      {% for category in object.categories.all %}
      <a href="{{ category.get_absolute_url }}"
         title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
         rel="tag category">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}.
    </p>
    {% if tag_list %}
    <ul class="entry-tags">
      {% tags_for_object object as tag_list %}
      {% for tag in tag_list %}
      <li><a href="{% url 'zinnia_tag_detail' tag %}"
         title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
         rel="tag">{{ tag }}</a></li>
      {% empty %}
      <li>{% trans "No tags" %}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
