{% extends "zinnia/entry_detail_base.html" %}
{% load comments i18n zinnia_tags tagging_tags %}
{% load fb_comments %}
{% load url from future %}

{% block meta %}
{{ block.super }}
<meta property="og:title" content="{{entry.title}}" />
<meta property="og:description" content="{{entry.excerpt|striptags|truncatewords:30|default:entry.content|striptags|truncatewords:30}}" />
<meta property="og:locale" content="hu_HU" />
<meta property="og:site_name" content="Jalagati" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{site}}{{entry.get_absolute_url}}" />
{% if entry.image %}
<meta property="og:image" content="{{site}}{{entry.image.url}}" />
{% endif %}
{% for category in object.categories.all %}
<meta property="article:section" content="{{ category }}" />
{% endfor %}
{% tags_for_object entry as tag_list %}
{% for tag in tag_list %}
<meta property="article:section" content="{{ tag }}" />
{% endfor %}
{% endblock %}

{% block sidebar %}
{{ block.super }}
{% if object.related_published %}
  <div class="entry-related span12">
    <h3>{% trans "Related entries" %}</h3>
    <ul>
      {% for entry in object.related_published %}
      <li>
	<a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="entry-similar">
    <h3>{% trans "Similar entries" %}</h3>
    {% get_similar_entries %}
  </div>
{% endblock %}

{% block entry-widgets %}
<div class="row">
  {% with previous_entry=object.previous_entry %}
  {% if previous_entry %}
      <a class="span3" href="{{ previous_entry.get_absolute_url }}" title="{{ previous_entry.title }}" rel="prev">
        <span class="meta-nav">←</span> {{ previous_entry.title }}
      </a>
  {% else %}
  <div class="span3"></div>
  {% endif %}
  {% endwith %}
  {% with next_entry=object.next_entry %}
  {% if next_entry %}
      <a class="span3x offset3" href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}" rel="next">
        {{ next_entry.title }} <span class="meta-nav">→</span>
      </a>
  {% else %}
  <div class="span3 offset3"></div>
  {% endif %}
  {% endwith %}
</div>
{% endblock %}

{% block entry-pingbacks %}{% endblock %}

{% block entry-trackbacks %}{% endblock %}

{% block entry-comments-form %}{%endblock%}