{% load i18n %}
<h3>{{ entries.0.categories.all.0 }}</h3>
<ul>
  {% for entry in entries %}
  <li class="entry-list-extra">
    <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a> <span class="entry-info">{% blocktrans with date=entry.creation_date|date:"DATE_FORMAT" abbr_date=entry.creation_date|date:"c" %}Published on {{date}}{% endblocktrans %}</span>
  </li>
  {% empty %}
  <li>
    {% trans "No entries yet." %}
  </li>
  {% endfor %}
</ul>
