.wrap-left{
    float: left;
    width: 30%;
}

.wrap-center{
    float: left;
    margin-left: 3%;
}

.wrap-right{
    float: right;
    width: 25%;
}

/*The tyle of the news column*/
.wrap-left ul{
    margin-left: 0;
}

.wrap-left li{
    padding-bottom: 0.2em;
}

/*The featured quote*/
#featured{
    background-color: none;
}

/*The signup form*/
.wrap-right form p{
    margin-bottom: 0;
}

.wrap-right form input{
    height: 0.5em;
}

/*Timetable styles*/
.timetable{
    width: 100%;
}
.timetable td,
.timetable th{
    border: 1px solid #bbb;
    padding: 10px;
    background: rgba(200, 200, 200, 0.1);
    text-align: center;
}

.timetable td:hover{
    background: rgba(200, 200, 200, 0.3);
    cursor: pointer;
}
.timetable td:hover .time{
    font-weight: bold;
}

.timetable .empty,
.timetable .empty:hover{
    background: rgba(200, 200, 200, 0.5);
}

.timetable th{
    font-weight: bold;
     background: rgba(255, 255, 255, 0.7);  
}
